#about {
  background-color: white;
  color: black;
  padding: 3em;
  height: 100vh;
  font-size: 1.5rem;
}

#about-header, .about-content-div, .about-subheader, .about-text {
  background-color: white;
  color: black;
}