#about {
  background-color: white;
  color: black;
  height: 100vh;
}

#about-header {
  padding-bottom: 1em;
}

#about-header, .about-content-div, .about-text {
  background-color: white;
  color: black;
}

.about-subheader {
  background-color: white;
  color: #9c0f29;
}

.about-content-div {
  padding-bottom: .5em;
}

@media screen and (max-width: 767px) {
  #about {
    padding: 1em;
    font-size: 1.5rem;
  }
    
  .about-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #about {
    padding: 3em;
    font-size: 1.5rem;
  }
    
  .about-text {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  #about {
    padding: 3em;
    font-size: 1.5rem;
  }

  .about-text {
    font-size: 1.25rem;
  }
}