a {
  text-decoration: none;
}

.contact-links {
  width: 50px;
  padding: 10px;
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-box {
  display: flex;
  justify-content: center;
  width: 50%;
}