@media screen and (max-width: 767px) {
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {

}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 13vh;
}

#white-FWD-logo {
  height: 13vh;
}