#white-FWD-logo {
  height: 13vh;
}

@media screen and (max-width: 767px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 13vh;
  }

  #sidebar-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #header {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-end;
  }

  #sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25vw;
    height: 100vh;
  }
}