#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 87vh;
  font-size: 2rem;
}

#hero-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  height: 2rem;
  padding-bottom: 4em;
}

#hero-subheader span {
  color: #9c0f29;
}