#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 87vh;
}

#hero-header {
  text-align: center;
}

#hero-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  padding-bottom: 4em;
  text-align: center;
}

#hero-subheader span {
  color: #9c0f29;
}

@media screen and (max-width: 767px) {
  #hero-header {
    font-size: 2.5rem;
  }

  #hero-subheader {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #hero-header {
    font-size: 3rem;
    max-width: 80%;
  }

  #hero-subheader {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #hero-header {
    font-size: 4rem;
    max-width: 80%;
  }

  #hero-subheader {
    font-size: 3rem;
  }
}