#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 87vh;
}

#hero-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  height: 4em;
}

#hero-subheader span {
  color: #ac0d2f;
}