@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(../public/assets/Manrope/static/Manrope-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(../public/assets/Manrope/static/Manrope-Bold.ttf) format('truetype');
  font-weight: bold;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
The following CSS is based on this reset, with some slight changes (font, for one)
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Manrope;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}