@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(../public/assets/Manrope/static/Manrope-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(../public/assets/Manrope/static/Manrope-Bold.ttf) format('truetype');
  font-weight: bold;
}