#nav {
  background-color: white;
}

#nav:hover {
  opacity: 1;
}

ul {
  list-style: none;
  background-color: white;
}

li {
  color: black;
  background-color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  background: transparent;
}

.bm-burger-bars {
  background: #4D4D4D;
}

.bm-burger-bars-hover {
  background: #4D4D4D;
}

.bm-cross {
  background: white;
}

.bm-item {
  background: black;
}

.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

#react-burger-cross-btn {
  background: white;
}