#nav {
  background-color: white;
  height: 100%
}

.menu-item {
  color: white;
  padding: .5em 0em;
}

@media screen and (max-width: 767px) {
  #nav:hover {
    opacity: 1;
  }

  .bm-burger-button {
    position: fixed;
    width: 6vh;
    height: 4.33vh;
    right: 4.33vh;
    top: 4.33vh;
    background: transparent;
  }
  
  .bm-burger-bars {
    background: #4D4D4D;
  }
  
  .bm-burger-bars-hover {
    background: #4D4D4D;
  }
  
  .bm-cross {
    background: white;
  }
  
  .bm-cross-button {
    min-height: 3rem;
    min-width: 3rem;
  }

  .bm-item {
    background: black;
  }
  
  .bm-menu {
    background: black;
    padding: 1.5em 1em 0;
    font-size: 2em;
  }
  
  #react-burger-cross-btn {
    background: white;
  }

  .close-icon {
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(67deg) brightness(105%) contrast(109%);
  }
}

@media screen and (min-width: 768px) {
  #burger-container {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-item {
    font-size: 1.5rem;
  }
}