#skills {
  min-height: 100vh;
  background-color: black;
}

#skills-header {
  padding-bottom: 1em;
}

#skills-header, #skills-container, .skills-list-item {
  background-color: black;
  color: white;
}

#next-logo {
  background-color: white;
  border-radius: 50%;
}

.skills-list {
  list-style: none;
}

.skill-logo-image {
  max-width: 50px;
}

@media screen and (max-width: 767px) {
  #skills {
    padding: 1em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #skills {
    padding: 3em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  #skills {
    padding: 3em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1.25rem;
  }
}