#skills {
  padding: 3em;
  height: 100vh;
  font-size: 1.5rem;
  background-color: black;
}

#skills-list {
  list-style: none;
}

#skills-header, #skills-list, .skills-list-item {
  background-color: black;
  color: white;
}