#skills {
  min-height: 100vh;
  background-color: black;
}

#skills-header {
  padding-bottom: 1em;
}

#skills-header, #skills-container, .skills-list-item {
  background-color: black;
  color: white;
}

#next-logo {
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

.skills-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 5rem;
  margin: 10px;
}

.skill-logo-image {
  max-width: 5rem;
}

.skill-name {
  font-size: 1rem;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  #skills {
    padding: 1em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #skills {
    padding: 3em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  #skills {
    padding: 3em;
    font-size: 1.5rem;
  }

  #skills-container {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1500px) {
  #skills {
    padding: 5rem;
    font-size: 3rem;
  }

  .skills-subheader {
    font-size: 2.5rem;
  }

  .skill-name {
    font-size: 2rem;
  }
}